## Words

In [16]:
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']

**Print every word in upper case**

In [18]:
# your code here
for x in words:
    print(x.upper())

PLAY
FILLING
BAR
THEATRE
EASYGOING
DATE
LEAD
THAT
STORY
ISLAND

**Create a new list containing only words with 5 or more letters**

In [2]:
# your code here
list1 = ['Faisal', 'Montassar', 'Simona', 'thamir']
list1

['Faisal', 'Montassar', 'Simona', 'thamir']

**Print the first word starting with "t"**

In [92]:
# your code here
for x in list1:
    if x.lower()[0] == 't':
        print('the first index is: t')

the first index is: t

## Numbers

**Create a list containing the square of every number from 1 to 10**

In [36]:
# your code here
num1= []
for x in range(1,11):
    x = x**2
    num1.append(x)
    
print(num1)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**Print a list containing the square of every odd number from 1 to 10**

In [37]:
# your code here
num2= []
for x in range(1,11):
    if x % 2 != 0:
        x = x**2
        num2.append(x)
    
print(num2)

[1, 9, 25, 49, 81]

**Create a list with the squares of all multiples of 8 below 1000**

In [45]:
# your code here
num3 = []
for x in range(8,1000):
    if x % 8 == 0:
        x= x**2
        num3.append(x)
        
num3

[64,
 256,
 576,
 1024,
 1600,
 2304,
 3136,
 4096,
 5184,
 6400,
 7744,
 9216,
 10816,
 12544,
 14400,
 16384,
 18496,
 20736,
 23104,
 25600,
 28224,
 30976,
 33856,
 36864,
 40000,
 43264,
 46656,
 50176,
 53824,
 57600,
 61504,
 65536,
 69696,
 73984,
 78400,
 82944,
 87616,
 92416,
 97344,
 102400,
 107584,
 112896,
 118336,
 123904,
 129600,
 135424,
 141376,
 147456,
 153664,
 160000,
 166464,
 173056,
 179776,
 186624,
 193600,
 200704,
 207936,
 215296,
 222784,
 230400,
 238144,
 246016,
 254016,
 262144,
 270400,
 278784,
 287296,
 295936,
 304704,
 313600,
 322624,
 331776,
 341056,
 350464,
 360000,
 369664,
 379456,
 389376,
 399424,
 409600,
 419904,
 430336,
 440896,
 451584,
 462400,
 473344,
 484416,
 495616,
 506944,
 518400,
 529984,
 541696,
 553536,
 565504,
 577600,
 589824,
 602176,
 614656,
 627264,
 640000,
 652864,
 665856,
 678976,
 692224,
 705600,
 719104,
 732736,
 746496,
 760384,
 774400,
 788544,
 802816,
 817216,
 831744,
 846400,
 861184,
 876096,
 891136,
 906304,
 921600,
 937024,
 952576,
 968256,
 984064]

## People

In [87]:
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "Lucía",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]

**How many people are there?**

In [93]:
# your code here
count_people = len(people)
print("number of people is:", count_people)

number of people is: 5

**How many people have kids**?

In [89]:
# your code here
num_of_kids=0 
for i in people:
    if i['n_kids'] > 0:
        num_of_kids += 1
print("number of people who have kids: ",num_of_kids)

number of people who have kids:  4

**How many kids do they have in total?**

In [90]:
# your code here
tot_kids = 0
for i in people:
    tot_kids+= i['n_kids']
print("total Kids are: ", tot_kids)

total Kids are:  10

**In a year's time, names ending with "a" will have an extra kid. Create a list of dictionaries with people's info in a year's time**

In [91]:
# your code here
updated_list= []
for i in people:
    i['age'] += 1
    if i['name'][-1] == 'a':
        i['n_kids']= i['n_kids']+ 1
    updated_list.append(i)

updated_list

[{'name': 'Juan', 'age': 35, 'n_kids': 2},
 {'name': 'Pepe', 'age': 28, 'n_kids': 0},
 {'name': 'Sonia', 'age': 42, 'n_kids': 2},
 {'name': 'Lucía', 'age': 23, 'n_kids': 3},
 {'name': 'Leo', 'age': 56, 'n_kids': 5}]